/* Estilo para a lista de itens dentro do menu de navegação */
nav ul {
    display: flex; /* Usa o layout flexível para alinear itens em linha */
    flex-direction: row; /* Alinha os itens em linha horizontal */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
}

/* Estilo para cada item da lista no menu de navegação */
nav ul li {
    list-style: none; /* Remove os marcadores da lista */
    height: 125px; /* Define a altura de cada item da lista */
    padding: 0 25px 0 0; /* Adiciona um preenchimento à direita */
}

/* Estilo para itens da lista quando o mouse passa sobre eles */
nav ul li:hover {
    background: #444444; /* Muda a cor de fundo para cinza escuro quando o item é hover */
}

/* Estilo para a barra de navegação */
nav {
    height: 125px; /* Define a altura da barra de navegação */
    max-width: 1480px; /* Define a largura máxima da barra de navegação */
    min-width: 1080px; /* Define a largura mínima da barra de navegação */
    background-color: black; /* Define a cor de fundo como preto */
}

/* Estilo para a imagem do logotipo dentro da navegação */
nav #logo img {
    height: 75px; /* Define a altura da imagem do logotipo */
    margin: 25px; /* Adiciona uma margem em torno da imagem */
    float: left; /* Alinha a imagem à esquerda */
}

/* Estilo para o menu principal dentro da navegação */
nav #main-menu {
    float: right; /* Alinha o menu principal à direita */
}
